---
import PullQuote from '../components/PullQuote.astro';
---

<section class="bg-cream py-20 md:py-28 lg:py-36">
  <div class="max-w-4xl mx-auto px-6 lg:px-8 text-center">
    <PullQuote
      quote="All of this started because our entire family loves coffee."
      attribution="Nashilla, founder · former lawyer, mum"
    />
  </div>
</section>
